.cardContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid black;
    border-radius: .5rem;
}

.cardContainer .cardImage {
    width: -webkit-fill-available;
}

.cardContainer .cardBody {
    padding: .5rem;
}

.cardContainer .cardLink {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: var(--links-color);
    cursor: pointer;
}

.cardContainer .cardLink:hover {
    font-weight: bold;
    text-decoration: underline;
}

