.characterInfoContainer {
    display: flex;
    align-items: center;
    margin: 1.5rem;
    column-gap: 3.5rem;
}

.goBackLink {
    color: var(--links-color);
    cursor: pointer;
}

.goBackLink:hover {
    font-weight: bold;
    text-decoration: underline;
}
